# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3

# Android
.gradle/
build/
local.properties
.idea/
*.iml
captures/
.externalNativeBuild
.cxx
local.properties

# OS
.DS_Store
Thumbs.db
